{% extends 'base.html.twig' %}

{% block title %}New EstadoTarea{% endblock %}

{% block body %}
    <h1>Crear un nuevo Estado</h1>

    {{ include('estado_tarea/_form.html.twig') }}

    <a href="{{ path('app_estado_tarea_index') }}" class="btn-back">back to list</a>
{% endblock %}
